<!-- 
Title: Room Controller UI
Used In File(s): code_ark\code\modules\hotel\room_controllers.dm
 -->
{{if data.menu == 0}}

	<div class="itemGroup" style = "width: 400px"><H3>Room information</H3></span>
		{{if data.room_status == 0}}
			<span class="white">Room status: </span><span class="bad"><H3>#ERROR</H3></span>
		{{/if}}
		{{if data.room_status == 1}}
			<span class="white">Room status: </span><span class="good">Available</span>
		{{/if}}
		{{if data.room_status == 2}}
			<span class="white">Room status: </span><span class="average">Reservation in progress</span>
		{{/if}}
		{{if data.room_status == 3}}
			<span class="white">Room status: </span><span class="mild">Occupied</span>
		{{/if}}
		{{if data.room_status == 4}}
			<span class="white">Room status: </span><span class="idle">Blocked. Please contact hotel staff for further info</span>
		{{/if}}
		<br>
		{{if data.room_request == 0}}
			<span class="white">Room request: </span><span class="good">None</span>
		{{/if}}
		{{if data.room_request == 1}}
			<span class="white">Room request: </span><span class="bad">Do not disturb</span>
		{{/if}}
		{{if data.room_request == 2}}
			<span class="white">Room request: </span><span class="mild">Cleanup</span>
		{{/if}}
		{{if data.room_request == 3}}
			<span class="white">Room request: </span><span class="average">Turnover</span>
		{{/if}}
	</div>
	
	<div class="itemGroup" style = "width: 400px">
		<table><tr>
			<td>
				<span class="white">Room controls:</span><br>
				{{:helper.link( 'Put in a request', 'flag', {'requests_menu' : 1}, null, 'greenButton', null)}}
				{{:helper.link( 'Run system diagnostics', 'home', {'room_diagnostics' : 1}, null, 'greenButton', null)}}
			</td><td>
				<span class="white">Airlock controls:</span><br>
				{{if data.airlock_bolts_status}}
					{{:helper.link( 'Unlock the airlock', 'unlocked', {'toggle_airlock_bolts' : 1}, null, 'yellowButton', null)}}
				{{else}}
					{{:helper.link( 'Lock the airlock', 'locked', {'toggle_airlock_bolts' : 1}, null, 'greenButton', null)}}
				{{/if}}
				{{:helper.link( 'Open airlock', 'gear', {'open_airlock' : 1}, null, 'greenButton', null)}}
			</td>
		</tr></table>
	</div>

{{else}}
	{{if data.menu == 1}}
		<div class="itemGroup" style = "width: 400px"><span class="white">Room requests selection:</span>
			<table><tr>
				<td>
					{{:helper.link( 'Set "Do not disturb" request', 'notice', {'request_change' : 2}, null, 'greenButton', null)}}
					<br>
					<br>
					{{:helper.link( 'Set "Cleanup" request', 'cart', {'request_change' : 3}, null, 'greenButton', null)}}
					<br>
					<br>
					{{:helper.link( 'Set "Turnover" request', 'key', {'request_change' : 4}, null, 'greenButton', null)}}
					<br>
					<br>
					{{:helper.link( 'Clear request', 'cancel', {'request_change' : 1}, null, 'redButton', null)}}
					<br>
					<br>
					{{:helper.link( 'Return', 'arrowreturn-1-w', {'return' : 1}, null, 'greenButton', null)}}
				</td>
			</tr></table>
		</div>
	{{/if}}
{{/if}}
