<!-- 
Title: Hotel Reservations System UI
Used In File(s): code_ark\code\modules\hotel\hotel_software.dm
 -->

{{if data.mode == 0}}
    <H3><span class="bad">An error has occurred!</span></H3>
    <div class="itemGroup" style = "width: 300px">The selected room may no longer be usable, the terminal connection might have been lost, or the new reservation has just timed out.</div><br>{{:helper.link( 'Return', 'arrowreturn-1-w', {'return_to_main' : 1}, null, null, null)}}

{{else data.mode == 1}}
    {{if data.terminal == 0}}
        <div class="itemGroup">
            This device does not support hotel terminal connection. You will not be able to make or modify reservations.
        </div>
    {{else data.terminal == 1}}
        <div class="itemGroup" style = "height: 65px">
            <span class="average">Hotel terminal is not found. You can try to locate one by pressing the button below.<br></span>
            {{:helper.link('Locate Terminal' , null, {'locate_terminal' : 1}, null, null)}}
        </div>
    {{else}}
        <div class="itemGroup">
            <table><tr><td><span class="white">Reservations mode:</span></td>
            <td>{{:helper.link('Auto' , null, {'auto' : 1}, data.terminal == 2 ? 'selected' : null, null)}}
            {{:helper.link('Manual' , null, {'noauto' : 1}, data.terminal == 3 ? 'selected' : null, null)}}</td></tr></table>
        </div>
    {{/if}}
    <H2><span class="white">Single Rooms:</span></H2>
    <div class="itemContent">
        {{for data.single_rooms}}
            <div class="itemGroup" style = "width: 300px">
                <table><tr>
                    <td>
                        {{if value.room.status == 0}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number},'disabled', null)}}
                        {{else}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number}, null, value.room.status == 1 ? 'greenButton' : value.room.status == 2 || value.room.status == 3 && value.room.requests < 2 ? null : value.room.requests > 1 ? 'redButton' : 'yellowButton' , null)}}
                        {{/if}}
                    </td><td>
                        <span class="white">Status: </span>
                        {{if value.room.status == 0}}
                            <span class="bad">ERROR</span>
                        {{else value.room.status == 1}}
                            <span class="good">available</span>
                        {{else value.room.status == 2}}
                            <span class="white">reservation in progress</span>
                        {{else value.room.status == 3}}
                            <span class="white">occupied until {{:value.room.end}}</span>
                        {{else value.room.status == 4}}
                            <span class="average">blocked</span>
                        {{/if}}
                        <br>1 bed - {{:value.room.price}} thalers per hour<br>
                        <span class="white">Remarks:</span>
                        {{if value.room.requests == 0}}
                            none
                        {{else value.room.requests == 1}}
                            <span class="average">do not disturb</span>
                        {{else value.room.requests == 2}}
                            <span class="bad">make up the room</span>
                        {{else value.room.requests == 3}}
                            <span class="bad">room turnover required</span>
                        {{/if}}
                    </td>
                </tr></table>

            </div>
        {{/for}}
    </div>
    <H2><span class="white">Double Rooms:</span></H2>
    <div class="itemContent">
        {{for data.double_rooms}}
            <div class="itemGroup" style = "width: 300px">
                <table><tr>
                    <td>
                        {{if value.room.status == 0}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number},'disabled', null)}}
                        {{else}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number}, null, value.room.status == 1 ? 'greenButton' : value.room.status == 2 || value.room.status == 3 && value.room.requests < 2 ? null : value.room.requests > 1 ? 'redButton' : 'yellowButton' , null)}}
                        {{/if}}
                    </td><td>
                        <span class="white">Status: </span>
                        {{if value.room.status == 0}}
                            <span class="bad">ERROR</span>
                        {{else value.room.status == 1}}
                            <span class="good">available</span>
                        {{else value.room.status == 2}}
                            <span class="white">reservation in progress</span>
                        {{else value.room.status == 3}}
                            <span class="white">occupied until {{:value.room.end}}</span>
                        {{else value.room.status == 4}}
                            <span class="average">blocked</span>
                        {{/if}}
                        <br>
                        {{if value.room.beds > 1}}
                            {{:value.room.beds}} beds 
                        {{else}}
                            1 bed
                        {{/if}}
                        - {{:value.room.price}} thalers per hour<br>
                        <span class="white">Remarks:</span>
                        {{if value.room.requests == 0}}
                            none
                        {{else value.room.requests == 1}}
                            <span class="average">do not disturb</span>
                        {{else value.room.requests == 2}}
                            <span class="bad">make up the room</span>
                        {{else value.room.requests == 3}}
                            <span class="bad">room turnover required</span>
                        {{/if}}
                    </td>
                </tr></table>

            </div>
        {{/for}}
    </div>
    <H2><span class="white">Special Rooms:</span></H2>
    <span class="white">Note:</span> <i>only manual reservation is available</i>
    <div class="itemContent">
        {{for data.special_rooms}}
            <div class="itemGroup" style = "width: 300px">
                <table><tr>
                    <td>
                        {{if value.room.status == 0}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number},'disabled', null)}}
                        {{else}}
                            {{:helper.link( value.room.number, null, {'room_select' : value.room.number}, null, value.room.status == 1 ? 'greenButton' : value.room.status == 2 || value.room.status == 3 && value.room.requests < 2 ? null : value.room.requests > 1 ? 'redButton' : 'yellowButton' , null)}}
                        {{/if}}
                    </td><td>
                        <span class="white">Status: </span>
                        {{if value.room.status == 0}}
                            <span class="bad">ERROR</span>
                        {{else value.room.status == 1}}
                            <span class="good">available</span>
                        {{else value.room.status == 2}}
                            <span class="white">reservation in progress</span>
                        {{else value.room.status == 3}}
                            <span class="white">occupied until {{:value.room.end}}</span>
                        {{else value.room.status == 4}}
                            <span class="average">blocked</span>
                        {{/if}}
                        <br>
                        {{if value.room.beds > 1}}
                            {{:value.room.beds}} beds 
                        {{else}}
                            1 bed
                        {{/if}}
                        - {{:value.room.price}} thalers per hour<br>
                        <span class="white">Remarks:</span>
                        {{if value.room.requests == 0}}
                            none
                        {{else value.room.requests == 1}}
                            <span class="average">do not disturb</span>
                        {{else value.room.requests == 2}}
                            <span class="bad">make up the room</span>
                        {{else value.room.requests == 3}}
                            <span class="bad">room turnover required</span>
                        {{/if}}
                    </td>
                </tr></table>
            </div>
        {{/for}}
    </div>

{{else data.mode == 2}}
    <div class="itemContent">
        {{:helper.link( 'Return', 'arrowreturn-1-w', {'return_to_main' : 1}, null, null, null)}}
        {{:helper.link( 'View Room Logs', 'note', {'room_logs' : 1}, null, null, null)}}
    </div>
    {{if data.terminal == 0}}
        <div class="itemGroup">
            This device does not support hotel terminal connection. You will not be able to make or modify reservations.
        </div>
    {{else data.terminal == 1}}
        <div class="itemGroup" style = "height: 65px">
            <span class="average">Hotel terminal is not found. You can try to locate one by pressing the button below.<br></span>
            {{:helper.link('Locate Terminal' , null, {'locate_terminal' : 1}, null, null)}}
        </div>
    {{else}}
        <div class="itemGroup">
            <table><tr><td><span class="white">Reservations mode:</span></td>
            <td>{{:helper.link('Auto' , null, {'auto' : 1}, data.terminal == 2 ? 'selected' : null, null)}}
            {{:helper.link('Manual' , null, {'noauto' : 1}, data.terminal == 3 ? 'selected' : null, null)}}</td></tr>
            </table>{{if data.terminal == 2}}You have to switch to manual mode to make a new reservation or to modify an existing one.{{/if}}
        </div>
    {{/if}}
    <H2><span class="white">Room {{:data.selected_room.number}}</span></H2>
    <H3><span class="white">Room Details:</span></H3>
    <div class="itemGroup">
        <span class="white">Status: </span>
        {{if data.selected_room.status == 0}}
            <span class="bad">ERROR</span>
        {{else data.selected_room.status == 1}}
            <span class="good">available</span>
        {{else data.selected_room.status == 2}}
            <span class="white">reservation in progress</span>
        {{else data.selected_room.status == 3}}
            <span class="white">occupied until {{:data.selected_room.end}}</span>
        {{else data.selected_room.status == 4}}
            <span class="average">blocked</span>
        {{/if}} <br>
        <span class="white">Remarks:</span>
        {{if data.selected_room.requests == 0}}
            none
        {{else data.selected_room.requests == 1}}
            <span class="average">do not disturb</span>
        {{else data.selected_room.requests == 2}}
            <span class="bad">make up the room</span>
        {{else data.selected_room.requests == 3}}
            <span class="bad">room turnover required</span>
        {{/if}} <br>
        <span class="white">Number of beds: </span> {{:data.selected_room.beds}} <br>
        <span class="white">Guest capacity: </span> {{:data.selected_room.capacity}} <br>
        <span class="white">Hourly price: </span> {{:data.selected_room.price}} thalers
    </div>
        {{if data.selected_room.status == 1 && data.terminal == 3}}
            {{:helper.link( 'Reserve', 'calendar', {'room_reserve' : 1}, null, 'greenButton' , null)}}
        {{else data.selected_room.status == 3 && data.terminal == 3}}
            {{:helper.link( 'Modify', 'calendar', {'room_modify' : 1}, null, null)}}
        {{else}}
            {{:helper.link( 'Reserve', 'calendar', {'room_reserve' : 1}, 'disabled' , null)}}
        {{/if}}
        {{if data.selected_room.status == 0 || data.selected_room.status == 2 || data.selected_room.status == 3 || data.selected_room.requests == 3}}
            {{:helper.link( data.selected_room.status == 4 ? 'Unblock' : 'Block', 'cancel', {'room_block' : 1} , 'disabled', null)}}
        {{else}}
            {{:helper.link( data.selected_room.status == 4 ? 'Unblock' : 'Block', 'cancel', data.selected_room.status == 4 ? {'room_unblock' : 1} : {'room_block' : 1} , null, data.selected_room.status == 4 ? 'yellowButton' : null, null)}}
        {{/if}}
        {{if data.selected_room.requests > 1}}
            {{:helper.link( 'Reset', 'refresh', {'room_reset' : 1}, null, 'yellowButton', null)}}
        {{else}}
            {{:helper.link( 'Reset', 'refresh', {'room_reset' : 1}, 'disabled', null)}}
        {{/if}}
        {{if data.selected_room.status == 3}}
            {{:helper.link( 'Cancel Reservation', 'closethick', {'room_cancel' : 1}, null, 'redButton', null)}}
        {{else}}
            {{:helper.link( 'Cancel Reservation', 'closethick', {'room_cancel' : 1}, 'disabled' , null)}}
        {{/if}}
    <H3><span class="white">Reservation Details:</span></H3>
    {{if data.selected_room.special}}<span class="white">Note:</span><i> this room is available for manual reservation only</i>{{/if}}
    <div class="itemGroup">
        {{if data.selected_room.status == 2 || data.selected_room.status == 3}}
            <span class="white">Starting Time: </span> {{:data.selected_room.start}} <br>
            <span class="white">End Time: </span> {{:data.selected_room.end}} <br>
            <span class="white">Guest List: </span> {{:data.selected_room.guests}}
        {{else}}
            No active reservation has been filed for the room.
        {{/if}}
    </div>

{{else data.mode == 3}}
    <div class="itemContent">
        {{:helper.link( 'Return', 'arrowreturn-1-w', {'return_to_room' : 1}, null, null, null)}}
        {{:helper.link( 'Print', 'print', {'print_logs' : 1}, null, null, null)}}
    </div>
    <H2><span class="white">Room {{:data.selected_room.number}} Logs:</span></H2>
    <div class="statusDisplay" style="overflow: auto;">
        <div class="item">
            <div class="itemContent" style="width: 100%;">
                {{for data.selected_room.room_logs}}
                    {{:value}}<br>
                {{/for}}
            </div>
        </div>
    </div>

{{else data.mode == 4}}
    <div class="itemContent">
        {{:helper.link( 'Return', 'arrowreturn-1-w', {'return_to_room' : 1}, null, null, null)}}
        {{:helper.link( 'Print', 'print', {'print_reservation' : 1}, data.reservation == 2 ? null : 'disabled', null)}}
    </div>
    <H2><span class="white">New Reservation - Room {{:data.selected_room.number}}</span></H2>
    <div class="itemGroup"> 
        {{if data.reservation == 2 }}
            <span class="good">Payment successful. Reservation complete</span><br>You can print out the confirmation now.
        {{else data.reservation == 1}}
            <span class="white">Pending payment</span><br>Please swipe an ID through the terminal.
        {{else}}
            <span class="white">Guest ID Scanning - </span>{{if data.selected_room.capacity - data.selected_room.guest_count > 0}}<span class="good">capacity remaining: {{:data.selected_room.capacity -data.selected_room.guest_count}}</span>{{else}}<span class="average">room full</span>{{/if}}<br>
            {{if data.selected_room.guest_count == data.selected_room.capacity}}You can proceed to payment.{{else data.selected_room.guest_count > 0}}Add a guest or proceed to payment.{{else}}Please swipe an ID through the terminal.{{/if}}
        {{/if}}
    </div>
    <div class="statusDisplay">
        <table>
            <tr>
                <td><span class="white">Room ID:</span></td>
                <td>{{:data.selected_room.number}}</td>
            </tr><tr>
                <td style="vertical-align: top;"><span class="white">Guest List:</span></td>
                <td><table>{{for data.selected_room.guests_as_list}}
                        <tr><td>{{:value}}</td><td>{{:helper.link( '', 'close', {'remove_guest' : value}, data.reservation == 0 ? null : 'disabled', null)}}</td></tr>
                    {{/for}}</table></td>
            </tr><tr>
                <td><span class="white">Final Price:</span></td>
                <td>{{if data.duration >= 24}}{{:data.selected_room.price*data.duration*0.75}} <span class="good">(-25%)</span>{{else}}{{:data.selected_room.price*data.duration}}{{/if}}</td>
            </tr><tr>
                <td><span class="white">Start Time:</span></td>
                <td>{{:data.selected_room.start}}</td>
            </tr><tr>
                <td><span class="white">End Time:</span></td>
                <td>{{:data.selected_room.end}}</td>
            </tr>
        </table>
            <span class="white">Reservation Duration (hours):</span><br>
            {{:helper.link( '1', null, {'set_duration' : 1}, data.duration == 1 || data.reservation > 0 ? 'disabled' : null, null)}}
            {{:helper.link( '3', null, {'set_duration' : 3}, data.duration == 3 || data.reservation > 0 ? 'disabled' : null, null)}}
            {{:helper.link( '6', null, {'set_duration' : 6}, data.duration == 6 || data.reservation > 0 ? 'disabled' : null, null)}}
            {{:helper.link( '12', null, {'set_duration' : 12}, data.duration == 12 || data.reservation > 0 ? 'disabled' : null, null)}}
            {{:helper.link( '24', null, {'set_duration' : 24}, data.duration == 24 || data.reservation > 0 ? 'disabled' : null, null)}}
            {{:helper.link( '48', null, {'set_duration' : 48}, data.duration == 48 || data.reservation > 0 ? 'disabled' : null, null)}}
    </div>
    <div class="itemContent">
        {{if data.reservation == 0 && data.selected_room.guest_count}}
            {{:helper.link( 'Payment', 'check', {'room_pay' : 1}, null, 'greenButton', null)}}
        {{else}}
            {{:helper.link( 'Payment', 'check', {'room_pay' : 1}, 'disabled', null)}}
        {{/if}}
        {{if data.reservation == 0 && (data.selected_room.guest_count || data.duration != 1)}}
            {{:helper.link( 'Clear', 'closethick', {'room_cancel' : 2}, null, null)}}
        {{else data.reservation == 1}}
            {{:helper.link( 'Cancel', 'closethick', {'payment_cancel' : 1}, null, 'redButton', null)}}
        {{else}}
            {{:helper.link( 'Clear', 'closethick', {'payment_cancel' : 1}, 'disabled', null)}}
        {{/if}}
    </div>
{{/if}}

<!---
<H3><span class="white">Volume:</span></H3>
{{:helper.displayBar(data.volume*2, 0, 100, 'average')}}
<div class="itemContent">
    {{:helper.link('0' , null, {'volume' : 0}, data.volume == 0 ? 'disabled' : null, null)}}
    {{:helper.link('20' , null, {'volume' : 10}, data.volume == 10 ? 'disabled' : null, null)}}
    {{:helper.link('40' , null, {'volume' : 20}, data.volume == 20 ? 'disabled' : null, null)}}
    {{:helper.link('60' , null, {'volume' : 30}, data.volume == 30 ? 'disabled' : null, null)}}
    {{:helper.link('80' , null, {'volume' : 40}, data.volume == 40 ? 'disabled' : null, null)}}
    {{:helper.link('100' , null, {'volume' : 50}, data.volume == 50 ? 'disabled' : null, null)}}
</div>

<H3><span class="white">Available tracks:</span></H3>
<div class="itemContent">
    {{for data.tracks}}
        <div class="item">
            {{:helper.link( value.track, 'gear', {'title' : value.track}, value.track == data.current_track ? 'disabled' : null, null)}}    
        </div>
    {{/for}}
</div>
--->